# Sistema
.DS_Store

# Quarto
.quarto/
_book/
**/*.quarto_ipynb

# Artefatos LaTeX
*.log
*.aux
*.out

# Cache de execução R
*_cache/

# R (caso o projeto seja aberto no RStudio)
.Rhistory
.RData
.Ruserdata

# VS Code
.vscode/

/.quarto/
